
/* Hero section */
.hero-section {
    height: 710px;
    position: relative;

}

.hero-image {
    height: 710px;
    width: 100vw;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}

.hero-description {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    pointer-events: none; 
  }



  .link-blocks {
    position: absolute;
    top: 45%;
    left: 30%;
    display: flex;

  }

  .link-block {
    background-color: rgb(236, 236, 255);
    height: 100px;
    width: 300px;
    align-items: center;
    margin-right: 30px;
    position: relative;
  }

  a {
    color: black;
  }


  .link-block p  {
    font-size: 16px;
    position: absolute;
    top: 38%;
    left: 36%;
  }





